footer.site-footer.bg-reverse
  .layout-social.container.py-5.d-flex.justify-content-center
    a.text-reverse.px-2(href='https://twitter.com/planetoftheweb')
      i.fab.fa-twitter
    a.text-reverse.px-2(href='https://facebook.com/viewsource')
      i.fab.fa-facebook
    a.text-reverse.px-2(href='https://linkedin.com/in/planetoftheweb')
      i.fab.fa-linkedin
    a.text-reverse.px-2(href='https://github.com/planetoftheweb')
      i.fab.fa-github
    a.text-reverse.px-2(href='https://plus.google.com/+RayVillalobos0')
      i.fab.fa-google-plus
    a.text-reverse.px-2(href='https://dribbble.com/planetoftheweb')
      i.fab.fa-dribbble
    a.text-reverse.px-2(href='https://www.flickr.com/photos/planetoftheweb/sets/72157602932636630/')
      i.fab.fa-flickr
    a.text-reverse.px-2(href='https://www.youtube.com/user/planetoftheweb')
      i.fab.fa-youtube
