article#page-cards.page-section
  section.layout-cards.container
    .row.justify-content-center
      .col-8.col-sm-12.col-lg-10
        .card-deck
          section.card.my-3
            img.layout-image.card-img-top.img-fluid(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='Photo Sample')
            .card-body
              h4.layout-title.card-title Card Title
              p.layout-text.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolorem dolores consequatur ducimus nisi quos saepe error quo praesentium, recusandae aliquam repudiandae.
          section.card.my-3
            img.layout-image.card-img-top.img-fluid(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='Photo Sample')
            .card-body
              h4.layout-title.card-title Card Title
              p.layout-text.card-text.
                Impedit autem ea delectus repudiandae iste commodi a natus aspernatur culpa accusantium, hic, ullam molestiae ratione perspiciatis sit?
                
          section.card.my-3
            img.layout-image.card-img-top.img-fluid(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='Photo Sample')
            .card-body
              h4.layout-title.card-title Card Title
              p.layout-text.card-text Magnam dolorem consectetur, soluta omnis quis eveniet dignissimos dolores mollitia sunt praesentium quo fugiat? Eius ab in mollitia minus ad quisquam eum!
