article#page-media.page-section.vertical-padding
  header.page-section-header.container.text-center
    h2.page-section-title.display-4.pt-4.text-center Media
    p.page-section-text.lead.mx-md-5 A quick way two column pattern that shows an image next to a photo. In bootstrap 4, you gain the ability to center elements using flexbox classes. A couple of things to watch out for is that these will always render as single columns and can sometimes be too wide, so these particular media elements are inside an 8 column grid.
  section.layout-media.container.my-5
    .row.justify-content-md-center
      .animated-group.col-lg-8.invisible
        section.media.mb-4
          img.layout-image.align-self-center.mr-3.img-fluid.rounded(src='https://dummyimage.com/80/6.png&text=+' alt='Photo Sample')
          .media-body
            h4.layout-title Media One
            p.layout-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum at voluptatibus incidunt, quia sapiente sequi quis quae atque quas id quam ab nobis iste eius, accusamus et officia laudantium! Ducimus.
        section.media.mb-4
          img.layout-image.align-self-center.mr-3.img-fluid.rounded(src='https://dummyimage.com/80/6.png&text=+' alt='Photo Sample')
          .media-body
            h4.layout-title Media Two
            p.layout-text Possimus beatae magnam illum necessitatibus laudantium illo aspernatur ducimus eveniet? Voluptas labore similique aut quam quibusdam eius voluptatum dolores quas molestiae suscipit numquam veniam, nemo totam incidunt ullam pariatur perspiciatis.
        section.media.mb-4
          img.layout-image.align-self-center.mr-3.img-fluid.rounded(src='https://dummyimage.com/80/6.png&text=+' alt='Photo Sample')
          .media-body
            h4.layout-title Media Three
            p.layout-text Quis at impedit repellat ipsam ad reiciendis beatae odio explicabo amet fuga nostrum animi nisi unde ab sint, sequi est officia. Maiores, fuga aliquid pariatur dignissimos eum vitae ex suscipit.
