article#page-floater.page-section.vertical-padding
  section.layout-floater.container.text-reverse
    .row.align-items-center.justify-content-center
      .col-8.col-md-4.img-container
        img.layout-image.img-fluid(src='http://planetoftheweb.com/i/phone.svg' alt='Photo Sample')
      .col-10.col-md-6.align-self-center
        .my-5.text-center.text-md-left.pl-md-5
          h2.layout-title Floater Title
          p.layout-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis fuga ex delectus sunt natus doloremque praesentium aspernatur, totam tempora officia, sed fugit? Libero voluptatem nulla mollitia, amet dolor iste magni.
