article#page-nested.page-section.text-reverse
  section.layout-nested.container-fluid.vertical-padding
    .row.align-items-center.justify-content-center
      section.col-sm-9.col-md-5.col-lg-12.text-center.text-lg-left
        .row.align-items-center.justify-content-center
          .col-lg-2.text-lg-right
            img.layout-image.img-circle.img-fluid.rounded-circle.py-3(src='https://dummyimage.com/200/9.png&text=+' alt='Photo placeholder')
          .col-lg-6
            h2.layout-title.pt-3 Nested
            p.layout-text Fuga possimus aliquam repudiandae, aspernatur quam velit cupiditate nihil beatae eum ipsa consequuntur itaque doloremque! Consequatur consequuntur nesciunt perferendis in illum excepturi nisi, eius totam ducimus nemo. Libero, accusantium tempore?
      section.col-sm-9.col-md-5.col-lg-12.text-center.text-lg-left
        .row.align-items-center.justify-content-center
          .col-lg-2.text-lg-right
            img.layout-image.img-circle.img-fluid.rounded-circle(src='https://dummyimage.com/200/9.png&text=+' alt='Photo placeholder')
          .col-lg-6
            h2.layout-title.pt-3 Nested
            p.layout-text Fuga possimus aliquam repudiandae, aspernatur quam velit cupiditate nihil beatae eum ipsa consequuntur itaque doloremque! Consequatur consequuntur nesciunt perferendis in illum excepturi nisi, eius totam ducimus nemo. Libero, accusantium tempore?
