article#page-multicolumn.page-section.vertical-padding
  header.page-section-header.container
    h2.page-section-title.display-4.pt-4.text-center Multi-column
    p.page-section-text.lead.mx-md-5
      | This layout uses multiple column rules so that how many columns each group takes depends on the width of the browser, by also using the

      code justify-content-center
      |  class on the row, using less than 12 columns results in a centered set of columns. The rules used are

      code col-10
      code col-md-6
      code col-lg-4
      code col-xl-3
      | .
  section.layout-multicolumn.container.family-sans.text-uppercase.text-center.py-4
    .row.justify-content-center.py-2
      section.photo-modal.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
      section.photo-modal.text-center.mb-5.col-10.col-md-6.col-lg-4.col-xl-3
        a(data-toggle='modal' data-target='#site-modal' data-highres='https://dummyimage.com/16:9x1600/A.png&text=+' href='#')
          img.layout-image.img-fluid.rounded(src='https://dummyimage.com/16:9x400/6.png&text=+' alt='sample image')
        h5.layout-title.mt-1 Text Heading
