header#page-hero.site-header.d-flex.flex-column.align-content-between
      nav.site-nav.family-sans.navbar.navbar-expand-md.navbar-dark.fixed-top
        .container-fluid
          button.navbar-toggler(type='button' data-toggle='collapse' data-target='#myTogglerNav' aria-controls='myTogglerNav' aria-label='Toggle Navigation')
            span.navbar-toggler-icon
          a.navbar-brand.text-uppercase(href='#page-hero')
            i.fas.fa-cube.mr-2
            |  Layout Components
          .collapse.navbar-collapse#myTogglerNav
            .navbar-nav.ml-auto.font-weight-regular.text-uppercase
              a.nav-item.nav-link(href='#page-hero') home
              a.nav-item.nav-link(href='#page-multicolumn') columns
              a.nav-item.nav-link(href='#page-media') media
              a.nav-item.nav-link(href='#page-photogrid') grid
              a.nav-item.nav-link(href='#page-carousel') carousel
              a.nav-item.nav-link(href='#page-nested') nested
              a.nav-item.nav-link(href='#page-icons') icons
              a.nav-item.nav-link(href='#page-floater') floater
              a.nav-item.nav-link(href='#page-cards') cards
      section.layout-hero.jumbotron.jumbotron-fluid.d-flex.align-items-center.mt-5.text-reverse
        .container.text-center
          .row.justify-content-center
            .col-11.col-sm-10.col-md-8.animated.fadeInUp
              h3.page-section-title.text-reverse raybo.org/bootstrap4layouts
              p.page-section-text.lead Learn to build practical Bootstrap 4 layouts using the grid, flex classes and utlity classes with these sample layout components. Each component is wrapped in an individual section class so you can copy, paste and customize them into your own layouts.
              a.btn.btn-outline-light(href='https://github.com/planetoftheweb/bootstrap4layouts') Github Repo
