doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet' href='sass/style.sass')
    link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css")
    title Bootstrap 4 Layouts with Sass

  body(data-spy="scroll" data-target=".site-nav" data-offset="55")
    include pug/_site-header
    include pug/_page-multicolumn
    include pug/_page-media
    include pug/_page-photogrid
    include pug/_page-carosel
    include pug/_page-nested
    include pug/_page-icons
    include pug/_page-floater
    include pug/_page-cards
    include pug/_site-footer
    include pug/_site-modal
    script(src='js/lib/jquery.min.js')
    script(src='js/script.js')
